.background-img {
    background-image: url("http://18.217.165.212/angular-tbwb-img/footer-img.jpg");
    width: 100%;
    margin-top: 50px;
}

.icons {
    text-align: center;
}

.icons span img {
    width: 45px;
    height: 40px;
    padding-left: 5px;
}

.icons-2nd {
    text-align: center;
}

.icons-2nd span img {
    width: 25px;
    height: 25px;
    padding-left: 25px;
}
hr{
    background-color: white;
}
#last-icon-div{
    padding-bottom: 10px;
}