.GM {
    font-family: "Gotham-Medium";
}
.checkhead{
    font-size:30px;
    font-weight: bolder;
}
   
.hr {
    background: #666666;
    height: 2px;
    width: 235px;
    position: relative;
    left: 13%;
    margin-bottom: 10px;
    margin-top: 20px;
} 
.myContainer-heading {
    padding-left: 2%;
    margin-top: 5px;
    
    /* padding-top: 1%; */
    /* font-family: 'Gotham Medium'; */
}
.myContainer-date {
    line-height:  1;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    /* font-family: GothamMedium; */
}

.myContainer-date-cal {
    line-height: 0.5;
    font-family: "Gotham Book italic";
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}
.imgview{
   width: 100%;
}
.myContainer-bottom-div-img {
    height: 141px;
    width: 140px;
    padding-left: 6px;
}
.flex-div-heading{
    padding-top: 9%;
    margin-left: -15px;
    font-size: 15px;
    /* opacity: .8; */
}
.addflex-div-heading{
    padding-top: 10%;
    margin-left: -13%;
    font-size: 15px;
    /* opacity: .8; */
}
.flex-div-detail {
    margin-top: -11%;
    font-size: 12px;
    margin-left: -16px;
}
.imageclick{
  width: 120px; 

   margin-right:80px;
}
.paraset{
 text-align:left;
 margin-left:-39px;
}
.imgclick1{
  width: 120px; 

  margin-left: 14px;
}
.blog-heading {
    color: #3884c1 ;
    font-weight: 600;
    padding-top: 7%;
    font-size: 18px;
    font-family: "Gotham-Medium";
    font-size: 23px;
    text-align: left;
}
.tagpara{
/* font-family: "Gotham-Medium"; */
font-size: 21px;
font-weight: bold;
/* opacity:.8; */
text-align: left;
color: #666666;
}
.modelbtn {
    width: 100%;
}
#overall-container{
    padding: 10px;
    margin: 0 !important;
}







.flex{
    display: flex;
    border-bottom: 2px solid lightgray;
}
.flex-img{
    width: 20%;
    padding: 5px;
}
.semana-flex-heading{
    padding-left: 10px;
    color: #666666;
}
.weeklyPost{
    margin-left: 18px;
    width: 86%;
    text-align: left;
}
.destaques-heading{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 23px;
    font-weight: bold;
    color: #3884c1 !important;
}
.hrf{
    margin-left: 5%;
    margin-right: 5%;
    color:#666666;
    background-color: #666666;
}

.postDate{
    text-align: left;
    font-size: 12px;
}