@font-face{
    font-family: "Gotham-Medium";
    src:url("../fonts/Gotham Medium Regular.ttf");
}
.head{
padding-top: 5%;
margin-bottom: 0%;
font-family: "Gowthum-Medium";
font-weight: bold;
color:#666666;
}
.para{
    
color:#666666;
}
.btnlg{
    background-color:#529FD9;
    border-radius: 8px;
    color: white;
}